# Data Types

### Numbers

In [ ]:
x = 1
y = 0.001
z = 12e-10

In [ ]:
z

1.2e-09

### Dictionary

In [ ]:
# Dictionary
x = {'Name':'AI in Medicine',
     'Teacher':'Lee',
     'Students':48}

In [ ]:
x

{'Name': 'AI in Medicine', 'Students': 48, 'Teacher': 'Lee'}

In [ ]:
# Get items from dictionary
x['Name']

'AI in Medicine'

In [ ]:
x.get('Name')

'AI in Medicine'

In [ ]:
# Creating a Nested Dictionary 
# as shown in the below image 
Dict = {1: 'AI', 2: 'in', 
		3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Class'}} 

print(Dict)

{1: 'AI', 2: 'in', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Class'}}

#### Adding elements to a Dictionary

In [ ]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 

# Adding elements one at a time 
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ") 
print(Dict) 

# Adding set of values 
# to a single Key 
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict) 

# Updating existing Key's Value 
Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict) 

# Adding Nested Key value to Dictionary 
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

In [ ]:
# Accessing element of a nested dictionary
# Creating a Dictionary 
Dict = {'Dict1': {1: 'Geeks'}, 
		'Dict2': {'Name': 'For'}} 

# Accessing element using key 
print(Dict['Dict1']) 
print(Dict['Dict1'][1]) 
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

#### Removing Elements from Dictionary

In [ ]:
# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks', 
		'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'}, 
		'B' : {1 : 'Geeks', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict) 

# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict) 

# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

### Boolean

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### Set

In [ ]:
# Creating a Set 
set1 = set() 
print("This is a blank set: ") 
print(set1)

Intial blank Set:
set()

In [ ]:
# Creating a set
course_set = {"AI", "Medicine", "Machine learning"}
print(course_set)

{'Machine learning', 'Medicine', 'AI'}

In [ ]:
# Access items
for x in course_set:
  print(x)

Machine learning
Medicine
AI

In [ ]:
# Check if "AI" is present in the set:
print("AI" in course_set)

True

In [ ]:
# Adding Elements to a Set
course_set.add("Deep learning")
print(course_set)

{'Machine learning', 'Medicine', 'AI', 'Deep learning'}

In [ ]:
# addition of two or more elements
course_set.update(["Programming", "Data processing"])
print(course_set)

{'AI', 'Programming', 'Machine learning', 'Deep learning', 'Medicine', 'Data processing'}

In [ ]:
# Get the Length of a Set
# To determine how many items a set has, use the len() method.
print(len(course_set))

6

In [ ]:
# To remove an item in a set, use the remove(), or the discard() method.
course_set.remove("Data processing")
print(course_set)

{'AI', 'Programming', 'Machine learning', 'Deep learning', 'Medicine'}

In [ ]:
# Another way
course_set.discard('Medicine')
print(course_set)

{'AI', 'Programming', 'Machine learning', 'Deep learning'}

In [ ]:
# You can also use the pop(), method to remove an item, but this method will remove the last item.
# Remember that sets are unordered, so you will not know what item that gets removed. The return value of the pop() method is the removed item.
x = thisset.pop()
print(x)
print(thisset)

apple
{'mango', 'orange', 'cherry'}

In [ ]:
# Removing all the elements from  
# Set using clear() method 
course_set.clear() 
print("\nSet after clearing all the elements: ") 
print(course_set)

Set after clearing all the elements:
set()

### List

In [ ]:
# A list is a collection which is ordered and changeable. In Python lists are written with square brackets.
# Creating an empty List 
List = [] 
print("Blank List: ") 
print(List)

Blank List:
[]

In [ ]:
# Create a list
course_list = ["AI", "Medicine", "Machine learning"]
print(course_list)

['AI', 'Medicine', 'Machine learning']

In [ ]:
# You access the list items by referring to the index number:
print(course_list[1])

Medicine

In [ ]:
# Negative index
print(course_list[-1])

Machine learning

In [ ]:
# To change the value of a specific item, refer to the index number:
course_list[2] = "Deep learning"
print(course_list)

['AI', 'Medicine', 'Deep learning']

In [ ]:
# Adding Elements to a List
# Python program to demonstrate 
# Addition of elements in a List 

# Creating a List 
List = [] 
print("Initial blank List: ") 
print(List) 

# Addition of Elements 
# in the List 
List.append(1) 
List.append(2) 
List.append(4) 
print("\nList after Addition of Three elements: ") 
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

In [ ]:
# Using insert() method


# Addition of Element at 
# specific Position 
# (using Insert Method) 
List.insert(3, 12) 
List.insert(0, 'AI') 
print("\nList after performing Insert Operation: ") 
print(List)

List after performing Insert Operation:
['AI', 1, 2, 4, 12]

In [ ]:
# Using extend() method
List.extend([8, 'Geeks', 'Always']) 
print("\nList after performing Extend Operation: ") 
print(List)

List after performing Extend Operation:
['AI', 1, 2, 4, 12, 8, 'Geeks', 'Always']

#### Removing Elements from the List

In [ ]:
# Using remove() method
List.remove(4) 
List.remove(12) 
print("\nList after Removal of two elements: ") 
print(List)

List after Removal of two elements:
['AI', 1, 2, 8, 'Geeks', 'Always']

### Tuple

In [ ]:
# A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.
course_tuple = ("AI", "Medicine", "Machine learning")
print(course_tuple)

('AI', 'Medicine', 'Machine learning')

In [ ]:
# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

## Operators

### Arithmetic operators

In [ ]:
# Examples of Arithmetic Operator 
a = 9
b = 4

# Addition of numbers 
add = a + b 

# Subtraction of numbers 
sub = a - b 

# Multiplication of number 
mul = a * b 

# Division(float) of number 
div1 = a / b 

# Division(floor) of number 
div2 = a // b 

# Modulo of both number 
mod = a % b 

# Power 
p = a ** b 

# print results 
print(add) 
print(sub) 
print(mul) 
print(div1) 
print(div2) 
print(mod) 
print(p)

13
5
36
2.25
2
1
6561

### Relational operators

In [ ]:
# Examples of Relational Operators 
a = 13
b = 33

# a > b is False 
print(a > b) 

# a < b is True 
print(a < b) 

# a == b is False 
print(a == b) 

# a != b is True 
print(a != b) 

# a >= b is False 
print(a >= b) 

# a <= b is True 
print(a <= b)

False
True
False
True
False
True

### Logical operators

In [ ]:
# Examples of Logical Operator 
a = True
b = False

# Print a and b is False 
print(a and b) 

# Print a or b is True 
print(a or b) 

# Print not a is False 
print(not a)

False
True
False

### All Any

In [ ]:
# Since all are false, false is returned 
print (any([False, False, False, False])) 

# Here the method will short-circuit at the 
# second item (True) and will return True. 
print (any([False, True, False, False])) 

# Here the method will short-circuit at the 
# first (True) and will return True. 
print (any([True, False, False, False]))

False
True
True

In [ ]:
# Here all the iterables are True so all 
# will return True and the same will be printed 
print (all([True, True, True, True])) 

# Here the method will short-circuit at the 
# first item (False) and will return False. 
print (all([False, True, True, False])) 

# This statement will return False, as no 
# True is found in the iterables 
print (all([False, False, False]))

True
False
False

### Membership & Indentify Operators

In [ ]:
# Python program to illustrate 
# Finding common member in list 
# using 'in' operator 
list1=[1,2,3,4,5] 
list2=[6,7,8,9] 
for item in list1: 
	if item in list2: 
		print("overlapping")	 
else: 
	print("not overlapping")

not overlapping

In [ ]:
# Python program to illustrate 
# not 'in' operator 
x = 24
y = 20
list = [10, 20, 30, 40, 50 ]; 

if ( x not in list ): 
  print("x is NOT present in given list") 
else: 
  print("x is present in given list") 

if ( y in list ): 
  print("y is present in given list") 
else: 
  print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

In [ ]:
# Python program to illustrate the use 
# of 'is' identity operator 
x = 5
if (type(x) is int): 
	print("true") 
else: 
	print("false")

true

In [ ]:
# Python program to illustrate the 
# use of 'is not' identity operator 
x = 5.2
if (type(x) is not int): 
	print("true") 
else: 
	print("false")

true

# Flow Control

### If

If statement: if statement is the most simple decision making statement. It is used to decide whether a certain statement or block of statements will be executed or not i.e if a certain condition is true then a block of statement is executed otherwise not.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

The if statement alone tells us that if a condition is true it will execute a block of statements and if the condition is false it wonâ€™t. But what if we want to do something else if the condition is false. Here comes the else statement. We can use the else statement with if statement to execute a block of code when the condition is false.

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
# The else keyword catches anything which isn't caught by the preceding conditions.
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Whenever there is only a single statement to be executed inside the if block then shorthand if can be used. The statement can be put on the same line as the if statement.

In [ ]:
# Short Hand If - If you have only one statement to execute, you can put it on the same line as the if statement.
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
# The and keyword is a logical operator, and is used to combine conditional statements:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
# The or keyword is a logical operator, and is used to combine conditional statements:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("At least one of the conditions is True")

At least one of the conditions is True

A nested if is an if statement that is the target of another if statement. Nested if statements means an if statement inside another if statement. Yes, Python allows us to nest if statements within if statements. i.e, we can place an if statement inside another if statement.

In [ ]:
# You can have if statements inside if statements, this is called nested if statements.
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

### While loop

In [ ]:
# With the while loop we can execute a set of statements as long as a condition is true.
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
# Note: remember to increment i, or else the loop will continue forever.

In [ ]:
# With the break statement we can stop the loop even if the while condition is true:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
# With the continue statement we can stop the current iteration, and continue with the next:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
# Python program to illustrate 
# Single statement while block 
count = 0
while (count < 5): count += 1; print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek
Hello Geek
Hello Geek

### For Loop

In [ ]:
# Print each items in a list:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
# Even strings are iterable objects, they contain a sequence of characters:
for x in "banana":
  print(x)

b
a
n
a
n
a

### Chaining comparison operators

In [ ]:
# Python code to illustrate chaining comparison operators 
x = 5
print(1 < x < 10) 
print(10 < x < 20 ) 
print(x < 10 < x*10 < 100) 
print(10 > x <= 9) 
print(5 == x > 4)

True
False
True
True
True

### Looping Techniques

In [ ]:
# enumerate()
for key, value in enumerate(['The', 'Big', 'Bang', 'Theory']): 
	print(key, value)

0 The
1 Big
2 Bang
3 Theory

In [ ]:
# python code to demonstrate working of zip() 

# initializing list 
questions = ['name', 'colour', 'shape'] 
answers = ['apple', 'red', 'a circle'] 

# using zip() to combine two containers 
# and print values 
for question, answer in zip(questions, answers): 
	print('What is your {0}? I am {1}.'.format(question, answer))

What is your name? I am apple.
What is your colour? I am red.
What is your shape? I am a circle.

### Lambda

In [ ]:
# Python program to demonstrate 
# lambda functions 

string ='GeeksforGeeks'
# lambda returns a function object 
print(lambda string : string)

<function <lambda> at 0x7f5a48ba6598>

In [ ]:
# Python program to demonstrate 
# lambda functions 

x ="GeeksforGeeks"
# lambda gets pass to print 
(lambda x : print(x))(x)

GeeksforGeeks

In [ ]:
# Python program to illustrate cube of a number 
# showing difference between def() and lambda(). 

def cube(y): 
	return y*y*y; 
	
g = lambda x: x*x*x 
print(g(5)) 
	
print(cube(5))

125
125

In [ ]:
# The lambda function gets more helpful when used inside a function.
# Python program to demonstrate 
# lmabda functions 


def power(n): 
	return lambda a : a ** n 

# base = lambda a : a**2 get 
# returned to base 
base = power(2) 

print("Now power is set to 2") 

# when calling base it gets 
# executed with already set with 2 
print("8 powerof 2 = ", base(8)) 

# base = lambda a : a**5 get 
# returned to base 
base = power(5) 
print("Now power is set to 5") 

# when calling base it gets executed 
# with already set with newly 2 
print("8 powerof 5 = ", base(8))

Now power is set to 2
8 powerof 2 =  64
Now power is set to 5
8 powerof 5 =  32768

### Global and Local Variables

In [ ]:
# This function uses global variable s 
def f(): 
	print(s) 

# Global scope 
s = "I love Geeksforgeeks"
f()

I love Geeksforgeeks

In [ ]:
# This function has a variable with 
# name same as s. 
def f(): 
	s = "Me too."
	print(s) 

# Global scope 
s = "I love Geeksforgeeks"
f() 
print(s)

Me too.
I love Geeksforgeeks

In [ ]:
def f(): 
	print(s) 

	# This program will NOT show error 
	# if we comment below line. 
	s = "Me too."

	print(s) 

# Global scope 
s = "I love Geeksforgeeks"
f() 
print(s)

UnboundLocalError: ignored

In [ ]:
# This function modifies the global variable 's' 
def f(): 
	global s 
	print(s) 
	s = "Look for Geeksforgeeks Python Section"
	print(s) 

# Global Scope 
s = "Python is great!"
f() 
print(s)

Python is great!
Look for Geeksforgeeks Python Section
Look for Geeksforgeeks Python Section

In [ ]:
# A good example
a = 1

# Uses global because there is no local 'a' 
def f(): 
	print('Inside f() : ', a) 

# Variable 'a' is redefined as a local 
def g():	 
	a = 2
	print('Inside g() : ', a) 

# Uses global keyword to modify global 'a' 
def h():	 
	global a 
	a = 3
	print('Inside h() : ', a) 

# Global scope 
print('global : ',a) 
f() 
print('global : ',a) 
g() 
print('global : ',a) 
h() 
print('global : ',a)

global :  1
Inside f() :  1
global :  1
Inside g() :  2
global :  1
Inside h() :  3
global :  3