### Python iterable tricks

In [ ]:
# Creating a sequence of numbers (zero to ten with skips)
x = range(0,10,2)
list(x)

[0, 2, 4, 6, 8]

In [ ]:
# Summing a sequence of numbers (calculating the sum of zero to ten with skips)
sum(x)

In [ ]:
# Checking whether any element in the sequence is Truthful (checking whether any elements between zero and ten with skips are even)
any(a % 2==0 for a in range(0,10,2))

True

In [ ]:
# Splitting a single string to list
s = "AI, in, Medicine"
s.split(",")

['AI', ' in', ' Medicine']

In [ ]:
# Initializing a list filled with some repetitive number
['AI']* 10

['AI', 'AI', 'AI', 'AI', 'AI', 'AI', 'AI', 'AI', 'AI', 'AI']

In [ ]:
# Finding the index of an item in a list
a = ["AI", "in", "Medicine"]
a.index("Medicine")

2

In [ ]:
# Finding the index of the min/max item in an iterable
a = [2, 3, 1, 5, 4]
max(enumerate(a),key=lambda x: x[1])[0]

3

In [ ]:
# Removing useless characters on the end/start/both of your string
name = "//AI in Medicine//"
print('Remove at both: ', name.strip("/"))
print('Remove at end: ', name.rstrip("/"))
print('Remove at start: ', name.lstrip("/"))

Remove at both:  AI in Medicine
Remove at end:  //AI in Medicine
Remove at start:  AI in Medicine//

### In-Place Swapping Of Two Numbers

In [ ]:
x, y = 10, 20
print(x, y) 
x, y = y, x 
print(x, y)

10 20
20 10

### Reverse

In [ ]:
a = "!enicideM ni IA"
backward = a[::-1]

In [ ]:
print(backward)

AI in Medicine!

In [ ]:
# Reversing list
l = ["AI", "in", "Medicine"]
l[::-1]

['Medicine', 'in', 'AI']

### Create a single string from all the elements in list

In [ ]:
a = ["AI", "in", "Medicine"] 
print(" ".join(a))

AI in Medicine

### Chaining Of Comparison Operators

In [ ]:
n = 10
result = 1 < n < 20
print(result) 
result = 1 > n <= 9
print(result)

True
False

### Print The File Path Of Imported Modules

In [ ]:
import os 
import pandas 
  
print(os) 
print(pandas)

<module 'os' from '/usr/lib/python3.6/os.py'>
<module 'pandas' from '/usr/local/lib/python3.6/dist-packages/pandas/__init__.py'>

### Return Multiple Values From Functions

In [ ]:
def x(): 
	return 1, 2, 3, 4
a, b, c, d = x() 

print(a, b, c, d)

1 2 3 4

### Find The Most Frequent Value In A List

In [ ]:
test = ['A', 'B', 'C', 'D', 'B', 'B', 'A', 'C', 'D', 'D', 'D'] 
print(max(set(test), key = test.count))

### Check The Memory Usage Of An Object

In [ ]:
import sys 
x = 1
print(sys.getsizeof(x))

28

### Print string N times

In [ ]:
n = 2
a = "AI in Medicine\n"
print(a * n)

AI in Medicine
AI in Medicine

### Itertools

In [ ]:
c = [[1, 2], [3, 4], [5, 6]]
# Let's convert this matrix to a 1 dimensional list.
import itertools as it
newlist = list(it.chain.from_iterable(c))

In [ ]:
newlist

[1, 2, 3, 4, 5, 6]

### Intelligent Unpacking

In [ ]:
a, b, *c = [1, 2, 3, 4, 5]

In [ ]:
print(a)
print(b)
print(c)

1
2
[3, 4, 5]

### Enumerate

In [ ]:
for i,w in enumerate(array):
    print(i,w)

### next() iteration for generators

In [ ]:
g = (x ** 2 for x in range(10))
print(next(g))
print(next(g))
print(next(g))

0
1
4