Student ID:

Student Name:

# Question 1

Sum up all elements in list

In [1]:
q1 = [1,45,7,9,23,43,5,6,87,2,4,7,13,16,23,9,10]

In [2]:
# Put your code here
ans = 0
for x in q1:
    ans += x
print(ans)

310

In [3]:
sum(q1)

310

# Question 2

Create a function that can help to calculate the BMI of a people according to weight and height

In [8]:
# Solution
def bmi_calculation(weight, height):
    # Put your code here
    return weight/((height/100)**2)

In [9]:
# Test program
bmi_calculation(61, 170)

21.107266435986162

# Question 3

Show the characters at the odd position (1-3-5-7-9-...)

In [1]:
q3 = 'Artificial Intelligence in Medicine'

In [13]:
# Put your code here
ans = 0
for x in q3:
    if (ans %2 ) == 1:
        print(x)
    ans += 1

r
i
i
i
l
I
t
l
i
e
c

n
M
d
c
n

In [19]:
for i in range(len(q3)):
    if i % 2 == 1:
        print(q3[i])

r
i
i
i
l
I
t
l
i
e
c

n
M
d
c
n

In [22]:
[q3[i] for i in range(1, len(q3), 2)]

['r',
 'i',
 'i',
 'i',
 'l',
 'I',
 't',
 'l',
 'i',
 'e',
 'c',
 ' ',
 'n',
 'M',
 'd',
 'c',
 'n']

In [2]:
q3[0:35:2]

'Atfca nelgnei eiie'

In [8]:
q3[0::2]

'Atfca nelgnei eiie'

# Question 4

List all items less than 5

In [15]:
q4 = [1,45,7,9,23,43,5,6,87,2,4,7,13,16,23,9,10]

In [16]:
# Put your code here
for z in q4:
    if(z < 5):
        print(z)

1
2
4

In [23]:
[i for i in q4 if i < 5]

[1, 2, 4]

# Question 5

Display -20 to -1 using loop

In [17]:
# Put your code here
j = -20
while j < 0:
    print(j)
    j += 1

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [20]:
for i in range(-20,0,1):
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [24]:
[i for i in range(-20,0)]

[-20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1]